@import "_variables";
@import "_reset";

body {
  font-family: Georgia;
  div.top-bar {
    background: #81a8b8 image-url("bgd-top-bar.png") bottom left repeat-x;
    padding: 10px 0;
    @include goo;
    color: #fff;    
    font-size: 18px;
    span {
      position: absolute;
      right: 0;
      a {color: $midblue;}
    }
  }  

}
body#monsters {
    background: transparent image-url('bgd-bottom.png'); 
    #nav {
      background: transparentize(#fff, 0.5);
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #fff;
      float:right;
      margin-top: 30px;
      padding: 20px 10px;
    ul.nav {
      padding:0;
      margin: 0;          
      li {
        display: inline;
        padding: 0;
        a {
          display: inline;
          font-size: 18px;
          @include goo;
          color: $red;
          padding: 10px 20px;
          &:hover {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            background: #eee;
            color: #333;
          }
        }

        ul {display: none;}
      }
    }  
    
  }  // end body#monsters
  #divider {
    background: transparent image-url('city.png') 0 0 repeat-x;
    width: 100%;
    height: 400px;    
    position: absolute;
    top: 410px;
  }
  #masthead {
    background: transparent image-url('bgd-masthead.png'); 
  }  
  #monster_img {
    float: left;
    width: auto;
  }
  #tag {
    float: right;
    width: 400px;
    padding: 20px 0 120px 20px;
    h1 #tagline {
      @include goo;
      font-size: 40px;
      margin-top: 30px;
    }
    h2 #subtag {
      @include goo;
      color: $red;
      font-size: 18px;
      padding: 15px 0 80px 0;
      background: transparent image-url('planes.png') 70% bottom no-repeat;
    }
  }
  .crosslinks {
    div.span4 {
      @include goo;
      color: #fff;
      line-height: 18px;
      padding: 5px 0;
      background: transparentize($red, 0.5);
      border: 1px solid transparentize($red, 0.5);
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 10px;      
      width: 275px;
      p {
        padding: 5px 0;
        line-height: 20px;
        font-size: 15px;
        font-weight: 300;
        @include helvetica;
      }
      .title p {
        display: block;
        padding: 5px 0;
        font-size: 18px;
        @include goo;
      }
    }
  }
  #footer {
    padding: 20px 0;
    @include goo;
    font-size: 12px;
    color: #fff;    
    .container {
      background: transparent image-url('bgd-footer.png') center top no-repeat;
      padding: 80px 0 70px 0;
      width: 600px;
    }
    span.legal {
      position: absolute;
      right:0;
      font-size:12px;
    }
    ul.nav {
      padding: 0; margin: 0;
      float: left;
      li {
      display: inline;
      a {
        color: #fff;
        display: inline;
        font-size: 11px;
        padding-right: 10px;
        @include goo;
        &:hover {
          color: #000;
          background: none;
        }
      }
      ul {display: none;}
      }
    }
  }
}
body#circus {
  background: transparent image-url('bgd-circus.png');
  #header {
    padding: 20px 0;    
  }
  #nav {
    position: relative;
    left: 13%;  
    
    ul {
      margin-top: 20px;
      li {
        @include helvetica;
        font-weight: 300px;
        color: $darkblue;
        float: left;
        padding: 10px 0;
        background: transparentize(#fff, 0.5);
        a {
          display:inline;
          padding: 10px 30px;
          font-size: 15px;
          color: $midblue;
          &:hover {
            background: #fff;
            text-decoration: none;
          }

        }
        &#logo {
          background: none;
          padding: 10px 30px;
          img {
          float: left;
          margin: -10px 0 0 0;
        }}
        ul {display: none;}

      }

    }
  }
  #masthead {
    position: relative;
    padding: 0;
    margin: 15px 0;
    img {
      -webkit-box-shadow: 0 0 10px #aaa;
      -moz-box-shadow: 0 0 10px #aaa;
      box-shadow: 0 0 10px #aaa;
    }
    #tag {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 500;
      width: 400px;
      padding: 20px 0;
      h1 #circus_tagline {
        @include helvetica;
        font-size: 40px;
        margin-top: 30px;
        color: #fff;
        font-weight: 100;
      }
      h2 #circus_subtag {
        @include helvetica;
        color: #fff;
        font-size: 25px;
        padding: 5px 0;
        font-weight: 100; 
      }
    }
  }
  .crossmedia {
    h1 {
      font-size: 20px;
      @include helvetica;
      padding: 5px 0;
    }
    p {
      @include helvetica;
      font-size: 13px;
      line-height: 18px;
    }
    .box {
      background: transparentize($darkblue, 0.9);      
      -webkit-box-shadow: 0 0 10px #aaa;
      -moz-box-shadow: 0 0 10px #aaa;
      box-shadow: 0 0 10px #aaa;
      border: 1px solid transparentize($darkblue, 0.1);
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
    .span4 {      
      padding: 10px;
    }
    #media2_title {
      h1 {
      font-size: 30px;
      padding: 10px 0;
      color: $darkblue;
      }
    }
    #media2 {
      p {
        font-size: 15px;
        line-height: 25px;
        color: $midblue;
        @include helvetica;
      }
    }
  }
  #footer {
    margin: 20px 0;
    .container {
      border-top: 1px solid #ccc;
      padding-top: 10px;
    }
    ul {
      padding:0;
      margin: 0;
      float: left;
      li {
        display: inline;
        a {
          display: inline;
          color: #aaa;
          @include helvetica;
          padding-right: 10px;
          font-size: 12px;
        }
        ul {display:none;}
      }
    }
    .legal {
      position: absolute;
      right: 0;
      color: #aaa;
      @include helvetica;
      padding-right: 10px;
      font-size: 12px;
    }
  }
}
// Styles for Tandem /Pages

#tandem-defaults {
  background: transparentize(#fff, 0.3);
  margin: 10px 0;
  h1 {
    font-size: 22px;
    padding: 15px 0;
  }
  table {
    width: 100%;
    tbody {
      th {
        padding: 10px 0;
        font-size: 13px;
        color: #666;
      }
      td {
        padding: 5px;
        border: 1px solid #ccc;
      }
    }
  }
}

